
/* .container {
    position: relative;
    text-align: center;
    color: rgba(20, 16, 17, 0.7);
    font-size:100px;
  } */

  /* Centered text */
/* .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgba(20, 16, 17, 0.5);
    font-size:100px
  } */
  
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

  .nav-link {
	
	text-transform: uppercase;
	font-weight: 600;
	border-bottom: 1.5px solid transparent;
	transition: 0.16s all ease-in;
}
  .nav-link:hover {
    border-bottom: 1.5px solid rgb(112, 81, 81);
    margin-left: 20px;
    margin-right: 20px;
  }

  .social-media {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
  }
 
  *{
    font-family: 'Poppins', sans-serif;
  }
  

  .banner__caption{
    font-family: 'Teko', 'Oswald', sans-serif;
    font-size: 40px;
    /* line-height:1; */
    /* text-transform: uppercase; */

  }

.banner__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color:2.5px solid rgb(247, 18, 18);
  /* font-size:50px */
} 

.banner__description {
  padding: 4px 0 0;
}
.button-list:not(:first-child) {
  padding-top: 25px;
}
.button-list {
  margin-left: -20px;
  margin-top: -20px;
}

/* figcaption {
  display: block;
}
.banner--center .banner__wrapper {
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.banner {
  position: relative;
  color: #fff;
  background-color: #000;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
} */