
/* .container {
    position: relative;
    text-align: center;
    color: rgba(20, 16, 17, 0.7);
    font-size:100px;
  } */

  /* Centered text */
/* .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgba(20, 16, 17, 0.5);
    font-size:100px
  } */

  html{
    scroll-behavior: smooth;
  }
  
  
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

  .nav-link {
	
	text-transform: uppercase;
	font-weight: 600;
	border-bottom: 1.5px solid transparent;
	transition: 0.16s all ease-in;
}
  .nav-link:hover {
    border-bottom: 1.5px solid rgb(112, 81, 81);
    margin-left: 20px;
    margin-right: 20px;
  }

  .social-media {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
  }
  .fa-facebook:hover{
    transform: translateY(-5px);
  }
  .fa-instagram:hover{
    transform: translateY(-5px);
  }
  .fa-twitter:hover{
    transform: translateY(-5px);
  }
  .fa-youtube:hover{
    transform: translateY(-5px);
  }
  .fa-twitch:hover{
    transform: translateY(-5px);
  }

  /* Tooltip container */
 .fa-facebook{
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; If you want dots under the hoverable text */
} 
/* Tooltip text */
.fa-facebook .tooltiptext {
  visibility: hidden;
  /* background-color: green; */
  color: black;
  text-align: center;
  padding: 2px 0;
  border-radius: 6px;
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px;
  font-size: 10px;
  margin-top: 10px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.fa-facebook:hover .tooltiptext {
  visibility: visible;
}

.fa-instagram{
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; If you want dots under the hoverable text */
} 
/* Tooltip text */
.fa-instagram .tooltiptext {
  visibility: hidden;
  /* background-color: green; */
  color: black;
  text-align: center;
  padding: 2px 0;
  border-radius: 6px;
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px;
  font-size: 10px;
  margin-top: 10px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.fa-instagram:hover .tooltiptext {
  visibility: visible;
}

.fa-twitter{
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; If you want dots under the hoverable text */
} 
/* Tooltip text */
.fa-twitter .tooltiptext {
  visibility: hidden;
  /* background-color: green; */
  color: black;
  text-align: center;
  padding: 2px 0;
  border-radius: 6px;
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px;
  font-size: 10px;
  margin-top: 10px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.fa-twitter:hover .tooltiptext {
  visibility: visible;
}

.fa-youtube{
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; If you want dots under the hoverable text */
} 
/* Tooltip text */
.fa-youtube .tooltiptext {
  visibility: hidden;
  /* background-color: green; */
  color: black;
  text-align: center;
  padding: 2px 0;
  border-radius: 6px;
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px;
  font-size: 10px;
  margin-top: 10px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.fa-youtube:hover .tooltiptext {
  visibility: visible;
}

.fa-twitch{
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; If you want dots under the hoverable text */
} 
/* Tooltip text */
.fa-twitch .tooltiptext {
  visibility: hidden;
  /* background-color: green; */
  color: black;
  text-align: center;
  padding: 2px 0;
  border-radius: 6px;
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px;
  font-size: 10px;
  margin-top: 10px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.fa-twitch:hover .tooltiptext {
  visibility: visible;
}


 
  *{
    font-family: 'Poppins', sans-serif;
  }
  

  .banner__caption{
    font-family: 'Teko', 'Oswald', sans-serif;
    font-size: 40px;
    /* line-height:1; */
    /* text-transform: uppercase; */

  }

.banner__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color:2.5px solid rgb(247, 18, 18);
  /* font-size:50px */
} 

.banner__description {
  padding: 4px 0 0;
}
.button-list:not(:first-child) {
  padding-top: 25px;
}
.button-list {
  margin-left: -20px;
  margin-top: -20px;
}
.itext {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  font-family: 'Poppins', sans-serif;
  font-size: 2em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.col-md-4:hover{
  box-shadow: 0 0 20px 0 rgba(0, 0, 0,0.3);
  transform: translateY(-10px);
}

/* figcaption {
  display: block;
}
.banner--center .banner__wrapper {
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.banner {
  position: relative;
  color: #fff;
  background-color: #000;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
} */